# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build

# Ignore binary directory
/bin

# IMO gradle wrappers should also be ignored
/gradle/wrapper
/gradlew
/gradlew.bat

# I don't think IntelliJ IDEA is suitable for me :/
/.idea